<div class="container mt-4">
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Data de vencimento</th>
        <th scope="col">Propriedade</th>
        <th scope="col">Contrato</th>
        <th scope="col">Situação</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @installments.each do |installment| %>
        <tr>
            <th scope="row"><%= installment.id %></th>
            <td><%= installment.payment_day.strftime("%d/%b/%y") %></td>
            <td><%= installment.contract.house.house_name %></td>
            <td><%= installment.contract.id %></td>
            <td><%= installment.payment_status ? 'Pago' : "Aberto" %></td>
            <td><%= link_to 'Pagar', change_payment_status_path(installment) unless installment.payment_status == true %></td>
            <td><%#= link_to 'Editar', edit_house_path(house) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>