<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.jpg", width: '50px' %>
  <% end %>

  <!-- Links -->
  <% if user_signed_in? %>
    <%#= current_user.first_name %>
    <ul class="navbar-nav w-100 justify-content-around">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Proprietários
        </a>
        <div class="dropdown-menu bg-dark">
          <%= link_to 'Novo', new_owner_path, class: "dropdown-item text-light" %>
          <%= link_to 'Listar', owners_path, class: "dropdown-item text-light" %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Propriedades
        </a>
        <div class="dropdown-menu bg-dark">
          <%= link_to 'Nova Propriedade', new_house_path, class: "dropdown-item text-light" %>
          <%= link_to 'Listar propriedades', houses_path, class: "dropdown-item text-light" %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Locatarios
        </a>
        <div class="dropdown-menu bg-dark">
          <%= link_to 'Nova Locatário', new_locator_path, class: "dropdown-item text-light" %>
          <%= link_to 'Listar Locatários', locators_path, class: "dropdown-item text-light" %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Contratos
        </a>
        <div class="dropdown-menu bg-dark">
          <%= link_to 'Contratos', contracts_path, class: "dropdown-item text-light" %>
          <%= link_to 'Novo Contrato', new_contract_path, class: "dropdown-item text-light" %>
        </div>
      </li>

      <li class="nav-item">
        <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
  <% end %>
</nav>
