<div class="container mt-4">
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">RG</th>
        <th scope="col">Telefone</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row"><%= @locator.id %></th>
          <td><%= @locator.name %></td>
          <td><%= @locator.cpf %></td>
          <td><%= @locator.rg %></td>
          <td><%= @locator.phone %></td>
        </tr>
    </tbody>
  </table>

  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Endereço</th>
        <th scope="col">E-mail</th>
        <th scope="col">Estado Cívil</th>
        <th scope="col">Data de Nascimento</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @locator.address %></td>
          <td><%= @locator.email %></td>
          <td><%= @locator.marital_status %></td>
          <td><%= @locator.birthdate %></td>
        </tr>
    </tbody>
  </table>

    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">Endereço</th>
                <th scope="col">Parentesco</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @locator.contact_name %></td>
                <td><%= @locator.contact_phone %></td>
                <td><%= @locator.contact_address %></td>
                <td><%= @locator.contact_relation %></td>
            </tr>
        </tbody>
    </table>  

  <div class="links text-center">
    <%= link_to 'Editar', edit_locator_path(@locator), class: 'btn btn-primary mb-3' %>
    <%= link_to "Excluir", @locator, method: :delete, data: { confirm: 'Tem certeza que deseja deletar este cliente?' }, class: 'btn btn-danger mb-3' %>
  </div>
</div>