<div class="container">
  <div class="container-form">
  <%= simple_form_for(@owner_profile_path) do |f| %>
    <%= f.error_notification %>
    <h3 class="text-center">Cadastro de Proprietário</h3>
    <div class="form-inputs">
      <%= f.input :name, label: "Nome Completo:" %>
      <%= f.input :cpg, label: "CPF" %>
      <%= f.input :rg, label: "RG" %>
      <%= f.input :email, label: "E-mail" %>
      <%= f.input :addrees, label: "Endereço" %>
      <%= f.input :marital_status, label: "Estado Civil" %>
      <%= f.input :birthdate, label: "Data de nascimento" %>
    </div>
    <div class="form-actions text-center">
      <%= f.button :submit, "Enviar", class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>